@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;500;700&display=swap');

#user-deatails-MW {
    font-size: 4px;
}

#user-uploaded-music {
    font-size: 4px;
}

.user-row {
    height: fit-content;
    width:fit-content;
    margin: 0 auto;
}

.user-bg{
    background-color: #fff6f6;
}

.user-img img{
    width: 100%;

}

.col-4 {
    width: 33%;
}

.col-8 {
    width: 67%;
}

#info-row{
    border: none;
}

.user-details{
    height: 100%;
}

.user-name{
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-size: 3em !important;
    color: #1976d2;
}


.user-id{
    font-family: 'Poppins', sans-serif;
    color: #2196f3;
    font-size: 2em;
}

.user-email{
    font-family: 'Poppins', sans-serif;
    color: #2196f3;
    padding-bottom: 1em;
    font-size: 2em;

}

.user-infor{
    font-family: 'Roboto Condensed', sans-serif;
    padding-bottom: 2em;
    font-size: 1.5em;

}

.user-records {
    font-family: 'MavenPro-Regular', sans-serif;
    font-size: 2em;

}

.vector-symbol{
    font-size: 1.7em;

}

.liked-song{
    display: inline-block;
    float: left;
    margin-right: 2em;
}

.uploaded-song{
    display: inline-block;
    float: left;
    align-content: end;
}


/*Recent play songs*/
.recent-play-song-row {
    min-height: 25vh;
    height: fit-content;
}
/*End Recent play songs*/


/*play list*/
.playlist-row {
    min-height: 25vh;
    height: fit-content;
}
/*End play list*/

.no-padding{
    padding:0;
}

.padding-bottom {
    padding-bottom: 1em;
}


.img-container{
    height: 70%;
}

.img-caption{
    height: 30%;
}

.equal-height{
    display: flex;
    flex-wrap: wrap;
}

.music-info {
    height: 40%;
    font-size: 1.4em !important;
    overflow: hidden;
    text-overflow: ellipsis;
}

div .thumbnail {
    height: 100%;
}

.thumbnail img{
    height: 60%;
}

.collapse {
    width: 100%;
}


.btn-circle {
    padding: 4px 0;
    font-size: 8px;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 1.42;
    border-radius: 50%;
}

.button-appear-onHover{
    position: absolute;
    z-index: 2;
    display: none;
}
.thumbnail:hover .button-appear-onHover{
    display: inline-block;
}

.add-btn{
    width: 19%;
    text-align: center;
    left: 14%;
    bottom: 25%;

}

.play-btn{
    width:29%;
    text-align: center;
    left: 35%;
    bottom: 25%;
}

.delete-btn{
    width:19%;
    text-align: center;
    left: 66%;
    bottom: 25%;

}

.center-items{
    position: relative;
}

/*(481px  and up) */
@media only screen and (min-width: 481px) {
    #user-deatails-MW {
        font-size: 5px;
    }

    #user-uploaded-music {
        font-size: 5px;
    }

    .btn-circle{

    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    #user-deatails-MW {
        font-size: 7px;
    }

    #user-uploaded-music {
        font-size: 7px;
    }

    .btn-circle {
        /*        font-size: 10px;*/
    }
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    #user-deatails-MW {
        font-size: 10px;
    }

    #user-uploaded-music {
        font-size: 10px;
    }

    .btn-circle {
        width: 30px;
        height: 30px;
        padding: 6px auto;
        font-size: 12px;
    }
}



/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    #user-deatails-MW {
        font-size: 12px;
    }

    #user-uploaded-music {
        font-size: 12px;
    }

    .btn-circle {
        padding: 8px 0;
        font-size: 16px;
        width: 40px;
        height: 40px;
    }
}